 * {
   box-sizing: border-box;
 }

 img {
   display: inline-block;
   padding: 5px;
 }
#main-navigation{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: white;

}
 footer {
   background-color: darkblue;
 }

 #inmemo {
   display: flex;
   align-items: center;
   background-color: midnightblue;
  flex-direction: column;
  text-decoration-color: white;


 }

 header {
   background-color: darkblue;
   height: 10%;
 }
 ul {
   list-style: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: flex-end;
    font-size: 30px;
    color: gray;
    font-family: monospace;
    text-transform: uppercase;
 }

 /* .container {
   display: -webkit-flex;
   display: flex;
   width: 100%;
   justify-content: center;
 } */

 #gallery {
   display: inline-flex;
   justify-content: space-around;
   background-color: orange;
 }

 @media only screen and (max-width: 667px) {
   img {
     width: 70%;
   }
 }
